<h1 class="posts-index-h1">Seeing Posts by: {{user.username}}</h1>
<div class="post-container">
    {{#each user.posts}}
    <div class="card-border">
        <div class="card post-preview">
          <div class="card-body">
            <h5 class="card-title"><a href="/posts/{{this._id}}">{{this.title}}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted" id="post-type">{{this.postType}}</h6>
            <div class="preview-space">
                <p class="card-text preview-content">{{this.content}}</p>
            </div>
            <p>Category: <a href="/n/{{this.category}}" class="card-link">{{this.category}}</a></p>
          </div>
        </div>
    </div>
    {{/each}}
</div>
